.linha{
    display: grid;
    grid-template-columns: repeat(5, 50px);
    gap: 5px;
    margin-top: 5px;
    justify-content: center;
    height: 46px;
    width: 100%;
}

.letra{
    background-color: gray;
    border: solid 1px black;
    height: 46px;
    display: flex;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    font-size: 30px;
}