.linha{
    display: grid;
    grid-template-columns: repeat(5, 50px);
    gap: 5px;
    margin-top: 5px;
    justify-content: center;
    height: 46px;
    width: 100%;
}

.letra{
    background-color: gray;
    border: solid 1px black;
    height: 46px;
    display: flex;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    font-size: 30px;
}

.letra.correta {
    background-color: green;
}
  
.letra.parcial {
   background-color: #d3ad69;
}
  
.letra.errada {
    background-color: red;
}

@media(max-width : 768px){
    .linha{
        grid-template-columns: repeat(5, 30px);
        width: 180px;
        height: 35px;
        margin: 0;
    }

    .letra{
        height: 30px;
        font-size: 15px;
        width: 30px;
    }
}